@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


.menu {
    display: flex;
    flex-direction: column;
    width: 16px;
    height: 16px;
    justify-content: space-between;
}